body{
    margin: auto;
    padding: auto;
}
.header{
    width: 100%;
    height: 90px;
    background-color: gainsboro;
    padding: 20px;
    margin-right: 20px;
}
.header .img{

    width: 50px;
    height: 100px;
}
.login{
    padding: 15px 25px;
    color: #fff;
    border: none;
    background-color: #2ECC71;
    border-bottom: 4px solid #27AE60;
    position: absolute;
    right: 160px;
    top: 36px;
}
.login2{
    padding: 15px 25px;
    color: #fff;
    border: none;
    background-color: #2ECC71;
    border-bottom: 4px solid #27AE60;
    position: absolute;
    right: 20px;
}